In [3]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv('states-daily_data.csv',parse_dates=True).rename(columns={'state':'Province/State'})\
     .drop(columns=['negative','pending','hospitalized','death','total','hash','dateChecked',
                    'totalTestResults','fips', 'deathIncrease','hospitalizedIncrease','negativeIncrease',
                    'positiveIncrease','totalTestResultsIncrease'])
def fix_date(s):
    s=str(s)
    month=int(s[4:6])
    day=s[6:]
    year=20
    return '{}/{}/{}'.format(month,day,year)
df['date']=df['date'].apply(fix_date)
counter=0
for s in df['Province/State']:
    tmp=df[df['Province/State']==s].drop(columns=['Province/State'])
    tmp=tmp.set_index('date')
    tmp=tmp.T
    tmp.index=[counter]
    tmp['Country/Region']='US'
    tmp['Province/State']=s
    tmp['Lat']=np.nan
    tmp['Long']=np.nan
    if counter==0:
        df2=tmp.copy()
    else:
        df2=pd.concat([df2,tmp],axis=0,sort=True)
    counter+=1

In [16]:
tmp=df2.columns[:-4]
print(tmp)
df2=df2[['Country/Region', 'Province/State','Lat', 'Long']+np.sort(tmp[::-1]).tolist()]
display(df2.head())

Index(['3/04/20', '3/05/20', '3/06/20', '3/07/20', '3/08/20', '3/09/20',
       '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20',
       '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20',
       '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20',
       '3/28/20'],
      dtype='object')

,Country/Region,Province/State,Lat,Long,3/04/20,3/05/20,3/06/20,3/07/20,3/08/20,3/09/20,...,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20
0,US,AK,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,6.0,12.0,14.0,22.0,22.0,36.0,42.0,59.0,69.0,85.0
1,US,AL,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,68.0,81.0,124.0,138.0,167.0,215.0,283.0,506.0,587.0,696.0
2,US,AR,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,46.0,96.0,118.0,165.0,174.0,218.0,280.0,335.0,381.0,404.0
3,US,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,US,AZ,NaN,NaN,2.0,2.0,3.0,5.0,5.0,5.0,...,44.0,65.0,104.0,152.0,265.0,357.0,450.0,577.0,736.0,873.0

In [14]:
    

df2.to_csv('state_by_state_data.csv',index=False)